.cards{
	margin: 0 auto;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	font-family: sans-serif;
}

.card{
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card__image{
	width: 100%;
	display: block;
}

.card__content{
	line-height: 1.5;
	font-size: 0.9em;
	padding: 15px;
	background: #fafafa;
}