

.table, tr{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.registerbtn{
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	margin: 60px;
	border:none;
	width: 200px;
	opacity: 0.9;
}

.header{
	background-color:  #add8e6;
	margin: 20px;
	padding: 40px;
}