body{
	font-family: 'Poppins', sans-serif;
}

input[type=text], input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button{
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 5%;

}

button:hover{
	opacity: 0.8;
}
.cancel{
	width: auto;
	padding: 10px 18px;
	background-color: red;
}

.img{
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar{
	width: 100px;
	border-radius: 50%;
}

.container{
	padding: 16px;
}

span.password{
	float: right;
	padding-top: 16px;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;

}

.modal-content{
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 80%;
}

.close{
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover
.close:focus{
	color: red;
	cursor: pointer;
}















